* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}


#cv {
    width: 40%;
    margin: 20px;
}

#generalSection,
#educationSection,
#workSection {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
}